/****************************************
-------------- orangeStrap --------------
@author: David Jomain
@fileversion: v0.0.1
****************************************/

/*** VARIABLES ***/

/* COLORS */
$colorBlack:#000;
$colorWhite:#fff;
$colorYellow:#fdbe0f;
$colorOrange:#ff7900;
$colorGrey:#666666;
$colorLightGrey:#888888;
$colorDarkGrey:#999999;
$colorBorderGrey:#161616;
$colorBackground:#eeeeee;
$colorAlternativeBackground:#dadada;